/* css principal */


/* imports des css */
@import url("colors.css");
@import url("navbar.css");
@import url("auth.css");
@import url("content.css");
@import url("creationTicket.css");
@import url("pagination.css");
@import url("contentList.css");
@import url("config.css");
@import url("qrLabel.css");


/* mise en forme principale */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);

    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: var(--textcolor-on-dark);
    text-align: center;
    margin: 0.5em;
}

#main-title {
    text-decoration: none;
    color: var(--textcolor-on-dark);
}
